<ion-view title="Create Appointment" id="page8">
    <ion-content padding="true" class="has-header">
        <form id="createAppointment-form3" class="list">
            <label class="item item-input" id="createAppointment-input3">
                <span class="input-label">Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="createAppointment-input4">
                <span class="input-label">Address</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="createAppointment-input5">
                <span class="input-label">Contact No.</span>
                <input type="tel" placeholder="">
            </label>
            <label class="item item-input" id="createAppointment-input6">
                <span class="input-label">Email</span>
                <input type="email" placeholder="">
            </label>
            <label class="item item-input" id="createAppointment-input7">
                <span class="input-label">Expected Time</span>
                <input type="time" placeholder="">
            </label>
        </form>
        <button id="createAppointment-button6" class="button button-royal  button-block icon-right ion-checkmark">REQUEST</button>
    </ion-content>
</ion-view>