<ion-view title="Home Reservation" id="page2"  ng-init = "init()">
    <ion-content padding="true" class="has-header" >
    <h3 id="setAppointment-heading4" style="font-weight:lighter;" ng-if = "appointmentList.length <= 1">No Reservations yet</h3>
        <ion-list id="asdf" ng-repeat = "reserve in reservationList">
            <ion-item id="choosePackage-list-item13">
                <h2>Reservation for: {{reserve.strName}}</h2>
                <h3 class="sub-text">Reservation ID No.: {{reserve.intWalkInID}} Status: {{reserve.strWalkInStatus}}</h3>
            </ion-item>
        </ion-list>
    	<a ui-sref="tabsController.requestHomeReservation" id="homeReservation-button3" class="button button-royal  button-block ion-plus-round z-depth-2">Reserve Now</a>
       
       
    </ion-content>
</ion-view>