<ion-view title="Product Order" id="page4">
    <ion-content padding="true" style="background: url(img/ctRN83TDysjCdO2mySOQ_bg.png) no-repeat center;background-size:cover;" class="has-header">
        <h3 id="productOrder-heading5" style="color:#FFFFFF;font-weight:lighter;">Mahal ni jeff yung jowa nya.</h3>
        <div class="spacer" style="width: 300px; height: 331px;"></div>
        <a ui-sref="tabsController.createOrder" id="productOrder-button4" class="button button-royal  button-block">Order Product/s</a>
    </ion-content>
</ion-view>