<ion-view title="Request Home Reservation" id="page9">
    <ion-content padding="true" class="has-header">
        <form id="requestHomeReservation-form4" class="list" >
            <h3>Order for:</h3>
            <h4>Name: <span style="font-weight: lighter;">{{customerDetails.strCustName}}</span></h4>
            <h4>Contact No.: <span style="font-weight: lighter;"> {{customerDetails.strEmail}}</span></h4>
            <h4>Email.: <span style="font-weight: lighter;"> {{customerDetails.strContactNo}}</span></h4>
          
            <label class="item item-input" id="requestHomeReservation-input11">
                <span class="input-label">Address</span>
                <input type="text" placeholder="" ng-model = "details.address">
            </label>
            <label class="item item-select" id="orderSummary-select2">
                <span class="input-label">Location</span>
                <select ng-model="details.selectedLocation" ng-options="loc.strBarangay for loc in locationList track by loc.intLocationID"></select>
            </label>
            <label class="item item-input" id="requestHomeReservation-input16">
                <span class="input-label">Headcount</span>
                <input type="number" placeholder="" ng-model = "details.headcount">
            </label>
            <!-- put date picker here -->
             <div class="item item-icon-left" ion-datetime-picker date only-valid="{'after': 'today', 'inclusive': true}" ng-model="dtm.dateValue">
                <i class="icon ion-ios-calendar positive"></i>
                
                <strong>{{dtm.dateValue| date: "MMM dd, yyyy"}}</strong>
            </div>

            <div class="item item-icon-left" ion-datetime-picker time am-pm ng-model="dtm.timeValue">
                <i class="icon ion-ios-clock-outline positive"></i>
               
                <strong>{{dtm.timeValue| date: "h:mm a"}}</strong>
            </div>
             
              <button  ui-sref="tabsController.chooseProdcutsServices" id="orderSummary-button9" class="button button-royal  button-block icon-right ion-android-arrow-dropright" type = "submit" value="action" ng-click = "sendDetails(details, dtm)">Next</button>
        </form>
        <a ui-sref="tabsController.homeReservation" id="requestHomeReservation-button10" class="button button-assertive  button-block button-outline">Cancel</a>
    </ion-content>
</ion-view>