<ion-view title="Set Appointment" id="page3">
    <ion-content padding="true" style="background: url(img/kTOwZ5U2QSStScKZagip_bg.png) no-repeat center;background-size:cover;" class="has-header">
        <h3 id="setAppointment-heading4" style="color:#FFFFFF;font-weight:lighter;">Madali lang gumawa ng system, kaya ng isang tao.</h3>
        <div class="spacer" style="width: 300px; height: 234px;"></div>
        <a ui-sref="tabsController.createAppointment" id="setAppointment-button8" class="button button-royal  button-block">Set Appointment</a>
    </ion-content>
</ion-view>