<ion-modal-view>
   <ion-header-bar class = "bar bar-header bar-calm">
     <h1 class="title">Verify</h1>
   </ion-header-bar>
   <ion-content>

      <label class="item item-input item-stacked-label" id="createAppointment-input3">
          <span class="input-label">Verification Code</span>
          <input type="text" placeholder="" ng-model = "code.verificationCode" style="font-size: 32px;">
      </label>
    
      <div class="row">
            <button id="productDetails-button5" class="button button-royal col col-100"
             ng-click = "verifyCustomer(code); closeModal()" style="margin-left: 5px; margin-right:5px;">Verify</button>
             <button id="productDetails-button5" class="button button-royal button-outline col col-100"
             ng-click = "resendVerification()" style="margin-left: 5px; margin-right:5px;">Resend Code</button>
      </div>
   		
   </ion-content>
 </ion-modal-view>