<ion-modal-view>
   <ion-header-bar class = "bar bar-header bar-calm">
     <h1 class="title">Confirm Order</h1>
   </ion-header-bar>
   <ion-content>
   		

      <p ng-repeat = " product in productList" ng-if="productList.length >= 2">{{product.quantity}}  {{product.name}}</p>
      <p ng-repeat = " service in serviceList" ng-if="serviceList.length >= 2">{{service.quantity}}  {{service.name}}</p>
      <p ng-repeat = " prmomo in promoList" ng-if="promoList.length >= 2">{{prmomo.quantity}}  {{prmomo.name}}</p>
      <p ng-repeat = " package in packageList" ng-if="packageList.length >= 2">{{package.quantity}}  {{package.name}}</p>

   		<button id="productDetails-button5" class="button button-balanced  button-block icon-left ion-android-cart"
                ng-click = "submitReservation(); closeModal()">SUMBIT</button>
     <a ng-click = "closeModal()" id="closeModalButton" class="button button-assertive  button-block button-outline">Cancel</a>
    
   </ion-content>
 </ion-modal-view>